{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<nav style="text-align: center; padding-bottom: 60px; font-size: 60px; font-family: 'Skia'">
<img src="https://ositeweb.com.br/business/wp-content/uploads/2018/07/ositeweb-enquetes.png" width="42"> ENKET
</nav>

<p style="background-color: #36cf90; color: white; border-color: #36cf90; border: 2px solid #36cf90; border-radius: 100px; padding-left:10px; font-family: Skia; font-size: 25px"> Perguntas </p>
{% if latest_question_list %}
    <ol>
    {% for question in latest_question_list %}
        <li style="padding: 10px;"><a href="{%  url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ol>
{% else %}
    <p>No polls are available.</p>
{% endif %}